		<!-- FOOTER -->
		<footer id="footer">
			<!-- top footer -->
			<div class="section">
				<!-- container -->
				<div class="container">
					<!-- row -->
					<div class="row">
						<div class="col-md-3 col-xs-6">
							<div class="footer">
								<h3 class="footer-title">Sobre nós</h3>
								<p id="footer-sobre"> Desapeguei é uma empresa fundada por Leandro Coelho, Lenix Eduardo e Myllena Karen.</p>
								<ul class="footer-links" id="footer-sobre">
									<li><a href="#"><i class="fa fa-map-marker"></i>Rua Arroz Doce, 1234</a></li>
									<li><a href="#"><i class="fa fa-phone"></i>(11)99911-1184</a></li>
									<li><a href="#"><i class="fa fa-envelope-o"></i>sac@desapega.com</a></li>
								</ul>
							</div>
						</div>

						<div class="col-md-3 col-xs-6">
							<div class="footer">
								<h3 class="footer-title">Categorias</h3>
								<ul class="footer-links">
									<li><a href="#">Cadeiras</a></li>
									<li><a href="#">Mesas</a></li>
									<li><a href="#">Armários</a></li>
									<li><a href="#">Camas</a></li>
									<li><a href="#">Acessórios</a></li>
									<li><a href="#">Eletrônicos</a></li>
								</ul>
							</div>
						</div>

						<div class="clearfix visible-xs"></div>

						<div class="col-md-3 col-xs-6">
							<div class="footer">
								<h3 class="footer-title">Informações</h3>
								<ul class="footer-links">
									<li><a href="#">Sobre Nós</a></li>
									<li><a href="#">Contatos</a></li>
									<li><a href="#">Política de Privacidade</a></li>
									<li><a href="#">Política de Devolução</a></li>
									<li><a href="../termodeuso">Termos de Uso</a></li>
								</ul>
							</div>
						</div>

						<div class="col-md-3 col-xs-6">
							<div class="footer">
								<h3 class="footer-title">Serviço</h3>
								<ul class="footer-links">
									<li><a href="#">Conta</a></li>
									<li><a href="#">Carrinho</a></li>
									<li><a href="#">Rastrear meu pedido</a></li>
									<li><a href="#">Ajuda</a></li>
								</ul>
							</div>
						</div>
					</div>
					<!-- /row -->
				</div>
				<!-- /container -->
			</div>
			<!-- /top footer -->

			<!-- bottom footer -->
			<div id="bottom-footer" class="section">
				<div class="container">
					<!-- row -->
					<div class="row">
						<div class="col-md-12 text-center">
							<ul class="footer-payments">
								<li><a href="#"><i class="fa fa-cc-visa"></i></a></li>
								<li><a href="#"><i class="fa fa-credit-card"></i></a></li>
								<li><a href="#"><i class="fa fa-cc-paypal"></i></a></li>
								<li><a href="#"><i class="fa fa-cc-mastercard"></i></a></li>
								<li><a href="#"><i class="fa fa-cc-discover"></i></a></li>
								<li><a href="#"><i class="fa fa-cc-amex"></i></a></li>
							</ul>
							<span class="copyright">
								 <a target="_blank" href="#">Copyright</a>
							</span>
						</div>
					</div>
						<!-- /row -->
				</div>
				<!-- /container -->
			</div>
			<!-- /bottom footer -->
		</footer>
		<!-- /FOOTER -->

		<!-- jQuery Plugins -->
		<script src="/javascripts/jquery.min.js"></script>
		<script src="/javascripts/bootstrap.min.js"></script>
		<script src="/javascripts/slick.min.js"></script>
		<script src="/javascripts/nouislider.min.js"></script>
		<script src="/javascripts/jquery.zoom.min.js"></script>
		<script src="/javascripts/main.js"></script>
