<!-- HEADER -->
<header>


	<!-- MAIN HEADER -->
	<div id="header">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">
				<!-- LOGO -->
				<div class="col-md-3">
					<div class="header-logo">
						<a href="/" class="logo">
							<img src="/images/logo.png" class="img-fluid" alt="Imagem responsiva" id="logo">
						</a>
					</div>
				</div>
				<!-- /LOGO -->

				<!-- SEARCH BAR -->
				<div class="col-md-6">
					<div class="header-search">
						<form method="GET" action="/buscar">
								<input class="input" name="buscar" placeholder="Busque aqui">
								<button class="search-btn">Buscar</button>
						</form>
					</div>
				</div>
				<!-- /SEARCH BAR -->

				<!-- ACCOUNT -->
				<div class="col-md-3 clearfix">
					<div class="header-ctn">
						<!-- My Account -->
						<div>
							<a href="../minhaconta"><i class="fa fa-user-o" id="minhaConta"></i><span>Minha Conta</span></a>
							</li>
						</div>
						<!-- /My Account -->
						<!-- anunciar -->
						<div>
							<a href="../cadastroProduto"><i class="fa fa-bullhorn"
									id="anunciar"></i><span>Anunciar</span></a></li>
						</div>
						<!-- anunciar -->

						<!-- Favoritos -->
						<div class="dropdown">
							<a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
								<i class="fa fa-star"></i>
								<span>Favoritos</span>
								<!-- <div class="qty">4</div> -->
							</a>
							<div class="cart-dropdown">
								<div class="cart-list">
									<div class="product-widget">
										<div class="product-img">
											<img src="/images/notebookhp.png" alt="">
										</div>
										<div class="product-body">
											<h3 class="product-name"><a href="#">Notebook HP 256</a></h3>

										</div>
										<button class="delete"><i class="fa fa-close"></i></button>
									</div>

									<div class="product-widget">
										<div class="product-img">
											<img src="/images/mesa-de-escritorio.png" alt="">
										</div>
										<div class="product-body">
											<h3 class="product-name"><a href="#">Mesa de escritório</a></h3>

										</div>
										<button class="delete"><i class="fa fa-close"></i></button>
									</div>
								</div>

								<div class="cart-btns">
									<a href="../favoritos" id="botao-Favoritos">Favoritos</a>
									<a href="../favoritos" id="botao-Favoritos">Conferir <i
											class="fa fa-arrow-circle-right"></i></a>
								</div>
							</div>
						</div>
						<!-- /Favoritos -->

						<!-- Menu Toogle -->
						<div class="menu-toggle">
							<a href="#">
								<i class="fa fa-bars"></i>
								<span>Menu</span>
							</a>
						</div>
						<!-- /Menu Toogle -->
					</div>
				</div>
				<!-- /ACCOUNT -->
			</div>
			<!-- row -->
		</div>

		<!-- container -->
	</div>
	<!-- /MAIN HEADER -->
</header>




 
<!-- /HEADER -->