<!-- HEADER -->
<header>


	<!-- MAIN HEADER -->
	<div id="header">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">
				<!-- LOGO -->
				<div class="col-md-3">
					<div class="header-logo">
						<a href="/" class="logo">
							<img src="/images/logo.png" class="img-fluid" alt="Imagem responsiva" id="logo">
						</a>
					</div>
				</div>
				<!-- /LOGO -->

				<!-- SEARCH BAR -->
				<div class="col-md-6">
					<div class="header-search">
						<form method="GET" action="/buscar">
								<input class="input" name="nomeBusca" placeholder="Busque aqui">
								<button class="search-btn">Buscar</button>
						</form>
					</div>
				</div>
				<!-- /SEARCH BAR -->

				<!-- ACCOUNT -->
				<div class="col-md-3 clearfix">
					<div class="header-ctn">
						<!-- My Account -->
						<div>
							<a href="../minhaconta"><i class="fa fa-user-o" id="minhaConta"></i><span>Minha Conta</span></a>
							</li>
						</div>
						<!-- /My Account -->
						<!-- anunciar -->
						<div>
							<a href="../cadastroProduto"><i class="fa fa-bullhorn"
									id="anunciar"></i><span>Anunciar</span></a></li>
						</div>
						<!-- anunciar -->

						<!-- Favoritos -->
						<div class="dropdown">
							<a href="../favoritos">
								<i class="fa fa-star"></i>
								<span>Favoritos</span>

							</a>


						<!-- Menu Toogle -->
						<div class="menu-toggle">
							<a href="#">
								<i class="fa fa-bars"></i>
								<span>Menu</span>
							</a>
						</div>
						<!-- /Menu Toogle -->
					</div>
				</div>
				<!-- /ACCOUNT -->
			</div>
			<!-- row -->
		</div>

		<!-- container -->
	</div>
	<!-- /MAIN HEADER -->
</header>




 
<!-- /HEADER -->