		<!-- SECTION -->
		<div class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">

					<!-- section title -->
					<div class="col-md-12">
						<div class="section-title">
							<h3 class="title">MAIS VENDIDOS</h3>

						</div>
					</div>
					<!-- /section title -->

					<!-- Products tab & slick -->
					<div class="col-md-12">
						<div class="row">
							<div class="products-tabs">
								<!-- tab -->
								<div id="tab2" class="tab-pane fade in active">
									<div class="products-slick" data-nav="#slick-nav-2">
										<!-- product -->
										<div class="product">
											<div class="product-img">
												<img src="/images/product06.png" alt="">

											</div>
											<div class="product-body">
												<p class="product-category">Eletrônicos</p>
												<h3 class="product-name"><a href="#">Notebook Acer Inspirion </a></h3>
												<h4 class="product-price">$1500.00</h4>
											</div>
											<div class="add-to-cart">
												<button class="add-to-cart-btn"><i class="far fa-star"></i>Favoritos</button>
											</div>
										</div>
										<!-- /product -->

										<!-- product -->
										<div class="product">
											<div class="product-img">
												<img src="/images/product07.png" alt="">

											</div>
											<div class="product-body">
												<p class="product-category">Eletrônicos</p>
												<h3 class="product-name"><a href="#">Samsung S8</a></h3>
												<h4 class="product-price">$800.00</h4>
											</div>
											<div class="add-to-cart">
												<button class="add-to-cart-btn"><i class="far fa-star"></i>Favoritos</button>
											</div>
										</div>
										<!-- /product -->

										<!-- product -->
										<div class="product">
											<div class="product-img">
												<img src="/images/product08.png" alt="">

											</div>
											<div class="product-body">
												<p class="product-category">Eletrônicos
												</p>
												<h3 class="product-name"><a href="#">Notebook ASUS Gamer</a></h3>
												<h4 class="product-price">$1600.00 </h4>
											</div>
											<div class="add-to-cart">
												<button class="add-to-cart-btn"><i class="far fa-star"></i>Favoritos</button>
											</div>
										</div>
										<!-- /product -->

										<!-- product -->
										<div class="product">
											<div class="product-img">
												<img src="/images/product09.png" alt="">
											</div>
											<div class="product-body">
												<p class="product-category">Eletrônicos</p>
												<h3 class="product-name"><a href="#">Câmera Fotográfica</a></h3>
												<h4 class="product-price">$1200.00</h4>
											</div>
											<div class="add-to-cart">
												<button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i>
													Carrinho</button>
											</div>
										</div>
										<!-- /product -->

										<!-- product -->
										<div class="product">
											<div class="product-img">
												<img src="/images/product01.png" alt="">
											</div>
											<div class="product-body">
												<p class="product-category">Eletrônicos</p>
												<h3 class="product-name"><a href="#">Notebook HP 256 G8 </a></h3>
												<h4 class="product-price">$980.00 <del class="product-old-price">$1000.00</h4>
											</div>
											<div class="add-to-cart">
												<button class="add-to-cart-btn"><i class="far fa-star"></i>Favoritos</button>
											</div>
										</div>
										<!-- /product -->
									</div>
									<div id="slick-nav-2" class="products-slick-nav"></div>
								</div>
								<!-- /tab -->
							</div>
						</div>
					</div>
					<!-- /Products tab & slick -->
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /SECTION -->