		<!-- NAVIGATION -->
		<nav id="navigation">
			<!-- container -->
			<div class="container">
				<!-- responsive-nav -->
				<div id="responsive-nav">
					<!-- NAV -->
					<ul class="main-nav nav navbar-nav">
						<li class="active"><a href="/">Home</a></li>
						<li><a href="../itens">Cadeiras</a></li>
						<li><a href="../itens">Mesas</a></li>
						<li><a href="../itens">Armários</a></li>
						<li><a href="../itens">Sofás</a></li>
						<li><a href="../itens">Camas</a></li>
						<li><a href="../itens">Accessórios</a></li>
                        <li><a href="../itens">Eletrônicos</a></li>
					</ul>
					<!-- /NAV -->
				</div>
				<!-- /responsive-nav -->
			</div>
			<!-- /container -->
		</nav>
		<!-- /NAVIGATION -->