		<!-- NAVIGATION -->
		<nav id="navigation">
			<!-- container -->
			<div class="container">
				<!-- responsive-nav -->
				<div id="responsive-nav">
					<!-- NAV -->
					<ul class="main-nav nav navbar-nav">
						<li class="active"><a href="#">Home</a></li>
						<li><a href="#">Cadeiras</a></li>
						<li><a href="#">Mesas</a></li>
						<li><a href="#">Armários</a></li>
						<li><a href="#">Sofás</a></li>
						<li><a href="#">Camas</a></li>
						<li><a href="#">Accessórios</a></li>
                        <li><a href="#">Eletrônicos</a></li>
					</ul>
					<!-- /NAV -->
				</div>
				<!-- /responsive-nav -->
			</div>
			<!-- /container -->
		</nav>
		<!-- /NAVIGATION -->