		<!-- NAVIGATION -->
		<nav id="navigation">
			<!-- container -->
			<div class="container">
				<!-- responsive-nav -->
				<div id="responsive-nav">
					<!-- NAV -->
					<ul class="main-nav nav navbar-nav">
						<li class="active"><a href="/">Home</a></li>
						<li><a href="/itens/1">Cadeiras</a></li>
						<li><a href="/itens/2">Mesas</a></li>
						<li><a href="/itens/3">Armários</a></li>
						<li><a href="/itens/4">Camas</a></li>
						<li><a href="/itens/5">Accessórios</a></li>
                        <li><a href="/itens/6">Eletrônicos</a></li>
					</ul>
					<!-- /NAV -->
				</div>
				<!-- /responsive-nav -->
			</div>
			<!-- /container -->
		</nav>
		<!-- /NAVIGATION -->